{% extends 'honors_portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
    <br>
    <br>
    <br>
    <section class=" breadcrumbs">

      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>PSCI 286 - Value Issues in a Political Economy</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>PSCI 286</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


            <div class="icon-box" style="padding:50px; border:3px solid gray;">
              <h4>Semester Taken</h4>
              <p>Spring 2021</p>
              <h4>Course Grade</h4>
              <p>B+</p>
              <h4>Student Learning Outcomes</h4>
              <ul>
                <li>Community/Civic Engagement and Problem-Solving</li>
                <li>Intercultural Competence and Global Learning</li>
                <li>Scholarship and Written Communication</li>
              </ul>
              
              <!-- <h4>GitHub URL</h4>
              <p><a href="https://github.com/ewhalenkamp/multimusicplayer" target="_blank"
                  rel="noopener noreferrer">https://github.com/ewhalenkamp/multimusicplayer</a></p> -->
            </div>
            <br>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray; text-align: center;">
                <h3 >Track Course Reflection</h3>
                <br>
                <embed src="{% static 'pdf/psci286/reflection.pdf' %}" width="90%" height="600" type="application/pdf">
              </div>
          </div>
          <div style="text-align: center;" class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
            <div style="background-color:lightgray; padding: 20px; border: 3px solid gray;">
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Midterm</h3>
              <h5 style="color: gray;">February 23, 2021</h5>
              <embed src="{% static 'pdf/psci286/midterm.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
            <br>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Final</h3>
              <h5 style="color: gray;">May 5, 2021</h5>
              <embed src="{% static 'pdf/psci286/final.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
          </div>
          </div>

        </div>

      </div>


    </section>
  </div>

</main><!-- End #main -->

{% endblock content %}