{% extends 'honors_portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
    <br>
    <br>
    <br>
    <section class=" breadcrumbs">

      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>LIB 151 - Research Skills</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>LIB 151</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


            <div class="icon-box" style="padding:50px; border:3px solid gray;">
              <h4>Semester Taken</h4>
              <p>Spring 2020</p>
              <h4>Course Grade</h4>
              <p>B</p>
              <h4>Student Learning Outcomes</h4>
              <ul>
                <li>Inquiry Analysis and Integrative Learning</li>
                <li>Intercultural Competence and Global Learning</li>
                <li>Scholarship and Written Communication</li>
              </ul>
              <!-- <h4>GitHub URL</h4>
              <p><a href="https://github.com/ewhalenkamp/multimusicplayer" target="_blank"
                  rel="noopener noreferrer">https://github.com/ewhalenkamp/multimusicplayer</a></p> -->
            </div>
          </div>
          <div style="text-align: center;" class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
            <div style="background-color:lightgray; padding: 20px; border: 3px solid gray;">
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Annotated Outline</h3>
              <h5 style="color: gray;">February 25, 2020</h5>
              <embed src="{% static 'pdf/lib151/annotated_outline.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
            <br>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Final Presentation</h3>
              <h5 style="color: gray;">March 5, 2020</h5>
              <embed src="{% static 'pdf/lib151/final_presentation.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
          </div>
          </div>

        </div>

      </div>


    </section>
  </div>

</main><!-- End #main -->

{% endblock content %}