{% extends 'honors_portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
    <br>
    <br>
    <br>
    <section class=" breadcrumbs">

      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>HUM 320 - Digital Humanities</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>HUM 320</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


            <div class="icon-box" style="padding:50px; border:3px solid gray;">
              <h4>Semester Taken</h4>
              <p>Spring 2022</p>
              <h4>Course Grade</h4>
              <p>Pending</p>
              <h4>Student Learning Outcomes</h4>
              <ul>
                <li>Creative and Critical Thinking</li>
                <li>Scholarship and Written Communication</li>
                <li>Intercultural Competence and Global Learning</li>
                <li>Inquiry Analysis and Integrative Learning</li>
              </ul>
              
              <!-- <h4>GitHub URL</h4>
              <p><a href="https://github.com/ewhalenkamp/multimusicplayer" target="_blank"
                  rel="noopener noreferrer">https://github.com/ewhalenkamp/multimusicplayer</a></p> -->
            </div>
            <br>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray; text-align: center;">
                <h3 >Course Reflection</h3>
                <br>
                <embed src="{% static 'pdf/hum320/reflection.pdf' %}" width="90%" height="600" type="application/pdf">
              </div>
          </div>
          <div style="text-align: center;" class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
            <div style="background-color:lightgray; padding: 20px; border: 3px solid gray;">
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Defining Historiography and Digital Humanities</h3>
              <h5 style="color: gray;">January 18, 2022</h5>
              <embed src="{% static 'pdf/hum320/historiography.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
            <br>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Presentational Criticism of “Punching Holes in the International Busa Machine Narrative” Article</h3>
              <h5 style="color: gray;">March 30, 2022</h5>
              <embed src="{% static 'pdf/hum320/ibm.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
            <div class="work-embed" style="background-color: white; padding: 25px; border: 3px solid gray;">
              <h3>Research Presentation</h3>
              <h5 style="color: gray;">April 11, 2022</h5>
              <embed src="{% static 'pdf/hum320/research_presentation.pdf' %}" width="90%" height="600" type="application/pdf">
            </div>
          </div>
          </div>

        </div>

      </div>


    </section>
  </div>

</main><!-- End #main -->

{% endblock content %}