{% extends 'honors_portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
  <br>
  <br>
  <br>
  <section class=" breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1>Process Reflection</h1>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Process Reflection</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <embed src="{% static 'pdf/process_reflection.pdf' %}" width="1140" height="900" type="application/pdf">

      </div>

    </div>
  

  </section>
</div>

</main><!-- End #main -->

{% endblock content %}